<div id="question-page" class="container-fluid">
  <div class="row header">
    <div class="black-ground">
      <%= image_tag image_path('yonex-logo.png'), class: 'question-logo'%>
    </div>
    <div class="question-title text-center">
      <h1>yonex订货会经销商提问</h1>
    </div>
  </div>
  <div class="row question-section">
    <% @questions.each do |question|%>
      <div class="col-md-4 question-item">
        <div class="row">
          <div class="col-md-2 text-center">
            <div style="background-color: rgba(0,0,0,0.3); width: 50px; color: red">
            <%= question.praise_count %>
            </div>
            <div style="background-color: rgba(0,0,0,0.5); width: 50px; color: black;">
            支持数
            </div>
          </div>
          <div class="col-md-8">
            <%= question.question_content %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
