<div id="question-page" class="container-fluid">
  <div class="row header">
    <div class="black-ground">
      <%= image_tag image_path('cloudsignin-logo.png'), class: 'question-logo'%>
    </div>
    <div class="question-title text-center">
      <h1>cloudsignin订货会经销商提问</h1>
    </div>
  </div>
  <div class="row question-section">
    <% @questions.each do |question|%>
      <div class="col-md-4 question-item">
        <div class="row">
          <div class="col-md-2 text-center" style="margin-top: 10%;">
            <div style="background-color: rgba(0,0,0,0.2); width: 50px; color: red; margin:0; padding: 0;" class="h2">
              <%= question.praise_count %>
            </div>
            <div style="background-color: rgba(0,0,0,0.3); width: 50px; color: black;">
            支持数
            </div>
          </div>
          <div class="col-md-8">
            <h2><em><%= question.question_content %></em></h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>

<% content_for :script do %>
  <%= javascript_include_tag 'questions_index' %>
<% end %>
