<div class="row">

  <div class="col-md-4">
    <div class="ibox text-center">
      <div class="ibox-content product-box event-box p-lg" >

        <% style = @events.empty? ? 'btn-primary' : 'btn-default' %>
        <%= link_to new_event_path, class: "btn #{style} btn-sm event-new-btn" do %>
          <i class="fa fa-plus"></i> <span class="bold">创建新活动</span>
        <% end %>

      </div>
    </div>
  </div>

  <%= render @events %>

</div>
