<div id="seats_num" data-table-num=<%= params[:table_num] %> data-table-pernum=<%= params[:table_pernum] %> class="hidden"></div>

<table>
  <% for i in 0..params[:table_num].to_i %>
    <tr>
      <% for j in 0..params[:table_pernum].to_i %>
        <td>123&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
      <% end %>
    </tr>
  <% end %>
</table>
