<%= form_for @event_session, url: (@event_session.new_record? ? event_event_session_locations_path(current_event) : event_event_session_location_path(current_event, @event_session)), html: {class: 'form-horizontal'} do |f|%>

  <div class="form-group">
    <label class="col-sm-2 control-label">会场地址</label>
    <div class="col-sm-5">
      <%=f.text_field :location_name, class: 'form-control'%>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-2">
      <%=link_to '取消', event_event_session_locations_path(current_event), class: 'btn btn-white'%>
      <%= button_tag '保存', class: 'btn btn-primary'%>
    </div>
  </div>

<% end %>
