<div id="event-id" data-event-id=<%= current_event.id %> class="hidden"></div>

<title>签到进度查询</title>

<div class="container">
  <div class="row">
    <div class="col-xs-12 title-name">签到进度查询</div>
    <div class="col-xs-12">
      <%=select_tag :session_id, options_for_select(current_event.sessions.map {|s| [s.full_name, s.id ]}, url_for), class: 'input-sm form-control input-s-sm inline', id: 'select-session-checkin'%>
    </div>

    <div class="col-xs-12 sign-number-area">
      <div class="col-xs-6">已签到：<span id="checked_in_numbers"></span>人</div>
      <div class="col-xs-6">未签到：<span id="unchecked_in_numbers"></span>人</div>
    </div>
    <div class="col-xs-12 select-area">
      <div class="col-xs-9 select-box-area">
        <input type="text" placeholder="请输入经销商姓名或手机号码"/>
      </div>
      <div class="col-xs-3">
        <button type="button">搜 索</button>
      </div>
    </div>
    <div class="col-xs-12 text-center sign-content">
      <div class="col-xs-12 sign-area">
        <div id="all_attendee" class="col-xs-4 sign-active">全部</div>
        <div id="checked_attendee" class="col-xs-4">已签到</div>
        <div id="not_checked_attendee" class="col-xs-4">未签到</div>
      </div>
    </div>
    <div class="col-xs-12 table-area">
      <table id="attendee-table">
        <tr id="table_head" class="bg-cell">
          <th>姓名</th>
          <th>公司</th>
          <th>状态</th>
          <th>一键拨号</th>
        </tr>
      </table>
    </div>
  </div>
</div>

<% content_for :style do %>
  <%= stylesheet_link_tag 'seller_checkins_show', media: 'all' %>
<% end %>

<% content_for :script do %>
  <%= javascript_include_tag "seller_checkins_show" %>
<% end %>