<style type="text/css">
  .bg-area{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -999;
  }
  .bg-area img{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
  .title-area{
    margin-top: 15%;
    font-size: 2.6em;
    color: #4b4b4b;
  }
  .notice-area{
    color: #646464;
    font-size: 1.6em;
    margin-top: 5%;
  }
  .graphic-area{
    margin-top: 2%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .jump-area button{
    background-color: #005bac;
    color:#ffffff;
    width: 200px;
    height: 40px;
    border-radius: 5px;
  }
  @media screen and (min-width: 1400px){
    .title-area{
      font-size: 2.8em;
    }
    .notice-area{
      font-size: 1.8em;
    }
  }
  @media screen and (min-width: 1600px){
    .title-area{
      font-size: 3.6em;
    }
    .notice-area{
      font-size: 2.6em;
    }
  }
</style>
<title>座位查询</title>
<div class="container-fluid">
  <div class="row">
    <div class="bg-area">
      <%= image_tag 'attendee_seats/body_bg.png' %>
    </div>
    <div class="col-xs-6 col-xs-offset-3 text-center page-area">
      <div class="title-area">座位自助查询</div>
      <div class="notice-area">请在旁边的读卡器上刷卡查询您的座位</div>
      <div class="graphic-area">
        <%= image_tag 'attendee_seats/graphic.jpg',class:"img-responsive" %>
      </div>
      <div class="hidden">
        <input class="mssage-box" type="text"/>
      </div>
      <div class="user-message-area"></div>
      <div class="jump-area hidden">
        <button type="button">查看座位</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript">
  $(document).keypress(function(event){
    var keyCode = event.which||event.keyCode;
    if(keyCode == 13)//点击了回车
    {
      var message = $('.mssage-box').val()
      $('.user-message-area').html(message);

      $('.jump-area').removeClass("hidden");

      $('.jump-area button').click(function(){
        location.href = "../attendee_seats/1/show"; //跳转到show页面
      })
    }
  })
</script>