<style type="text/css">
  .bg-area{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
  }
  .bg-area img.bg-img{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0px;
    left: 0px;
    z-index: 1;
  }
  .seat-area{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  .seat-box{
    position: absolute;
    left: 33%;
    width: 33%;
    top: 20%;
    height: 50%;
    background:rgba(236,236,236,0.3);
  }
  .title-area{
    background-color: #0454A2;
    color: #fff;
    height: 20%;
    line-height: 100%;
    font-size: 3.6em;
  }
  .search-area{
    height: 60%;
  }
  .search-area input{
    height: 15%;
    width: 76%;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 10px;
    font-size: 1.2em;
    border-radius: 8px;
    border: #0454A2 1px solid;
  }
  .search-area button{
    height: 15%;
    position: absolute;
    width: 16%;
    top: 50%;
    margin-top: -25px;
    right: 10px;
    background-color: #0454A2;
    color: #fff;
    font-size: 1.8em;
  }
</style>

<div class="bg-area">
  <%= image_tag "attendee_seats/body_bg.png", class:"bg-img" %>
  <div class="seat-area">
    <div class="seat-box">
      <div class="title-area text-center">
        <p>座位查询</p>
      </div>
      <div class="search-area">
        <form action="/app/events/<%= current_event.id %>/attendee_seats" method="post">
          <input name="session_id" class="hidden" value=<%= params[:session_id] %> />
          <input type="text" name="key_word" placeholder="如无法刷卡，请人工输入姓名/手机号码查询"/>
          <button type="submit">搜 索</button>
        </form>
      </div>
    </div>
  </div>
</div>
