<style type="text/css">
  .bg-area{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
  }
  .bg-area img.bg-img{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0px;
    left: 0px;
    z-index: 1;
  }
  .seat-area{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  .seat-box{
    position: absolute;
    left: 33%;
    width: 33%;
    top: 20%;
    height: 50%;
    background:rgba(236,236,236,0.3);
  }
  .title-area{
    background-color: #0454A2;
    color: #fff;
    height: 20%;
    line-height: 100%;
    font-size: 3.6em;
  }
  .title-name{
    display: inline-block;
    width: 80%;
  }
  .close-area{
    display: inline-block;
    cursor: pointer;
  }
  .result-area{
    height: 60%;
    width: 20%
  }
  .portrait-area{
    position: absolute;
    left: 0px;
    width: 40%;
    display: inline-block;
  }
  .portrait-area button{
    width: 204px;
    height: 204px;
    border-radius: 204px;
    border:#fff 4px solid;
    overflow: hidden;
    padding: 0px;
  }
  .portrait-area img.portrait-img{
    width: 200px;
    height: 200px;
  }
  .result-seat-area{
    position: absolute;
    right: 0px;
    height: 200px;
    display: inline-block;
    width: 60%;
    font-size: 4em;
  }
  .seat-number span{
    color: #0454A2;
  }
  .result-seat-area p{
    margin: 0px;
  }
</style>
<div class="bg-area">
  <%= image_tag "attendee_seats/body_bg.png", class:"bg-img" %>
  <div class="seat-area">
    <div class="seat-box">
      <div class="title-area text-center">
        <div class="title-name">查询结果</div>
        <div class="close-area"><i class="fa fa-close"></i></div>
      </div>
      <div class="result-area">
        <div class="portrait-area">
          <button type="button">
            <!-- <img class="portrait-img" src="http://img1.3lian.com/img2008/06/019/ych.jpg"> -->
            <%= image_tag(@attendee.avatar.url, class: 'attendee-avatar') %>
          </button>
        </div>
        <div class="result-seat-area">
          <p class="user-name"><%=@attendee.name%> ， 您好！</p>
          <p class="seat-number">您的座位号是：<span><%= %></span>号</p>
        </div>
      </div>
    </div>
  </div>
</div>
