<style type="text/css">
  .bg-area{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -999;
  }
  .bg-area img{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%; 
  }
  .title-area{
    margin-top: 15%;
    font-size: 2.6em;
    color: #4b4b4b;
  }
  .seat-area{
    font-size: 1.6em;
    margin-top: 5%;
    color: #646464;
  }
  .seat-area p{
    margin-bottom: 0px;
  }
  .seat-number{
    color: #005bac;
  }
  .return-area{
    margin-top: 5%;
  }
  .return-area button{
    width: 30%;
    background-color: #005bac;
    color:#ffffff;
    border-radius: 6px;
    height: 40px;
    font-size: 1.4em;
  }
  .seconds{
    color: #005bac;
  }
  .return-msg{
    margin-top: 2%;
  }
  @media screen and (min-width: 1400px){
    .title-area{
      font-size: 3em;
    }
    .seat-area{
      font-size: 1.8em;
    }
    .return-msg{
      font-size: 1.2em;
    }
    .return-area button{
      height: 60px;
      font-size: 1.6em;
    }
  }
  @media screen and (min-width: 1600px){
    .title-area{
      font-size: 3.6em;
    }
    .seat-area{
      font-size: 2.6em;
    }
    .return-msg{
      font-size: 1.8em;
    }
    .return-area button{
      height: 90px;
      font-size: 2.4em;
    }
  }
</style>
<title>座位查询</title>
<div class="container-fluid">
  <div class="row">
    <div class="bg-area">
      <%= image_tag 'attendee_seats/body_bg.png' %>
    </div>
    <div class="col-xs-6 col-xs-offset-3 text-center page-area">
      <div class="title-area">座位自助查询</div>
      <div class="seat-area">
        <p class="name-paragraph">张三 先生/女士，您好！</p>
        <p class="number-paragraph">您的座位是:<span class="seat-number">第1桌1号</span></p>
      </div>
      <div class="return-area">
        <button type="button">返 回</button>
      </div>
      <div class="return-msg">
        <p>将在<span class="seconds">5</span>秒后自动返回</p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    //查询座位信息失败
    $('.name-paragraph').html("很抱歉，没有找到您的座位信息。");
    $('.number-paragraph').html("请联系您的销售担当。");

    var i = 4;
    var timer = setInterval(function(){
      $('.seconds').html(i);
      i--;
      if(i == -1)
      {
        clearInterval(timer);//取消进程
        location.href="../attendee_seats/new"//自动跳转
      }
    },1000)
  })
</script>