# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 92ef9f93d88d3d0dabda541fba8ff17dfcd8665cdf36c6f2a7374afb1fa738bc7a60f666bb1766cd1f30215a12dd33fdc6a3e6dde27ef9e601ece4c206fcf190

test:
  secret_key_base: e4e8ecb9d7f2f4523aa1cb439c3c2fb2a68b2f07b533a6464d8da6ca63d50f0e85f2bbfe815a11910e5cba45394f634c0d0d8f4a2ff4a79a1598a656dd580e55

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
