<% breadcrumb :new_event_lottery_prize %>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>新增抽奖活动</h5>
      </div>
      <div class="ibox-content">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
