<div class="hidden" id="event-lottery-prize" data-event-lottery-prize-id=<%= params[:event_lottery_prize_id]%>>
</div>
<div class="hidden" id="event-id" data-event-id=<%= params[:event_id] %> ></div>
start_lottery_prize.html.erb