<% breadcrumb :edit_session_seat %>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>设置当前显示座位安排</h5>
      </div>
      <div class="ibox-content">

        <%= render 'form'%>

      </div>
    </div>
  </div>
</div>
