.container{
  font-family:'黑体', '微软雅黑';
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #3E3A39;
  top: 0px;
}
.font-white{
  color: #fff;
}
#page0, #page1{
  padding: 0px;
  position: absolute;
  height: 100%;
}
.home-bg{
  position: absolute;
  width: 100%;
  height: 100%;
}
.bg-img{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -999;
}
.logo-area{
  padding-top: 12px;
  padding-right: 0px;
  
}
.logo-area img{
  width: 100px;
  height: 26px;
}
.title-area{
  margin-top: 60px;
  text-align: center;
}
.title1{
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bold;
}
.invitation-margin{
  margin-top: 23px;
}
.title-text{
  min-height: 64px;
}
.title-area img{
  margin-top: 15px;
  width: 80%;
}
.letter-area{
  margin-top: 20px;
}
.letter-area p{
  margin: 0px;
  font-size: 12px;
}
p.letter-pre{
  text-indent: 2em;
  min-height: 64px;
}
#page1{
  display: none;
}
p.letter-next{
  text-indent: 2em;
}
.name-title{
  margin-bottom: 0px;
  font-size: 18px;
  letter-spacing: 2px;
  color: #3e3a39;
  font-weight: bold;
}
.title-main{
  margin-bottom: 0px;
  font-size: 15px;
  color: #3e3a39;
  letter-spacing: 2px;
  margin-top: -3px;
}
.title-spare{
  margin-bottom: 0px;
  font-size: 13px;
  letter-spacing: 3px;
  color: #3e3a39;
  margin-top: -3px;
}
p.invitation{
  margin-top: 80px;
  font-size: 2.8em;
}
.double-down{
  color: #fff;
  position: absolute;
  bottom: 40px;
}
.double-down img{
  width: 50px;
  height: 17px;
}
.container{
  padding: 0px;
}
.row{
  padding: 0px;
  margin: 0px;
}
.button-area{
  margin-top: 40px;
}
.button-area a{
  color: #fff;
}
.button-area button{
  background-color: #009541;
  border: 0px;
  width: 160px;
  height: 34px;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
}
.load-area{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: #fff;
}
.load-area img{
  margin-top: 40%;
  margin-left: 47%;
  display: block;
}
.text-color1{
  color: #3E3A39;
}
@media screen and (min-width: 350px) {
  p.name{
  font-size: 1.3em;
  }
  p.name-eg-pre{
    font-size: 1.2em;
  }
  p.name-eg-next{
    font-size: 0.9em;
  }
  p.invitation{
    font-size: 3em;
  }
  .letter-area p{
    font-size: 14px;
  }
}

