body{
  background-color: #ececec;
}
.schedule-img{
  padding: 0px;
}
.schedule-area{
  background-color: #ececec;
}
.title-area{
  margin-top: 10px;
  line-height: 50px;
  height: 50px;
  margin-bottom: 10px;
}
.title-area div{
  padding: 0px;
}
.close-area {
  cursor: pointer;
}
.close-area img{
  width: 30px;
  height: 30px;
}
.sch_icon{
  width: 36px;
  height: 33px;
}
.title-name{
  font-size: 1.2em;
  color: #005bac;
  margin-top: 2px;
  display: inline-block;
  margin-left: 6px;
}
.list-title{
  background-color: #fff;
  border-radius: 5px;
  padding: 0px;
  border:#1D6EB5 1px solid;
  color: #4382BA;
  height: 26px;
  line-height: 26px;
  margin-top: 6px;
  margin-bottom: 6px;
}
.schedule-data{
  padding-left: 20px;
}
.schedule-down{
  padding-right:6px;
  cursor: pointer;
}
.schedule-list{
  list-style: none;
  padding: 0px;
}
.schedule-list li{
  height: 22px;
  line-height: 22px;
  color: #5e5e5e;
}
.list-time{
  padding-left: 5px;
}
.list-name{
  padding-left: 0px;
}