body{
  background-color: #ececec;
}
.recommends-img{
  padding: 0px;
}
.title-area{
  height: 70px;
  line-height: 70px;
  padding: 0px;
}
.icon-area img{
  width: 30px;
  height: 40px;
}
.title-name{
  font-size: 1.2em;
  color: #005bac;
  margin-left: 4px;
}
.close-area {
  cursor: pointer;
}
.close-area img{
  width: 30px;
  height: 30px;
}