.container{
  padding: 0px;
}
.row{
  margin: 0px;
}
.logo-area{
  position: absolute;
  top: 10px;
  right: 10px;
}
.logo-area img{
  width: 100px;
  height: 26px;
}
.all-page{
  padding: 0px;
}
.profiles-area{
  padding-top: 30px;
}
.profiles-area div{
  padding: 0px;
}
.portrait-img-area{
  width: 84px;
  height: 84px;
  border: #E9E9E9 2px solid;
  border-radius: 84px;
  display: inline-block;
  padding: 0px;
}
.portrait-img-area img{
  width: 80px;
  height: 80px;
}
.portrait-msg{
  color: #424242;
}
.user-name{
  font-size: 1.5em;
  display: block;
  margin-bottom: 4px;
}
.user-company{
  font-size: 0.9em;
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
}
.user-phone{
  font-size: 0.9em;
  display: block;
  margin-top: 4px;
}
.illus-area{
  padding: 0px;
  margin-top: 0px;
}
.notice-area{
  font-size: 1.1em;
  height: 40px;
  background-color: #e1e1e1;
  line-height: 40px;
}
.notice-area img{
  width: 20px;
  height: 20px;
}
.notice-img{
  position: absolute;
  height: 40px;
}
.scroll-area{
  margin-left: 64px;
}
.scroll-area span{
  margin-right: 60px;
}
.function-area{
  padding: 0px;
  color: #333333;
}
.function-area table{
  width: 100%;
  text-align: center;
  vertical-align: middle;
  border-top: #fff 1px solid;
  border-bottom: #fff 1px solid;
  font-size: 1.1em;
}
.function-area tr{
  height: 80px;
}
.function-area td{
  border:#e1e1e1 1px solid;
}
.function-area img{
  width: 50px;
  height: 50px;
}
.function-area span{
  display: block;
}
.function-area a{
  color: #333333;
}
.function-area a:hover{
  text-decoration: none;
}
.voucher-area{
  position: absolute;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.6);
  color: #fff;
}
.qrcode-area{
  width: 150px;
  height: 150px;
  padding-left: 15px;
  padding-top: 15px;
  background-color: #fff;
}
.voucher-msg{
  margin-top: 120px;
}
.qrcode-all-area{
  position: absolute;
  left: 50%;
  padding: 0px;
  margin-left: -75px;
}
.voucher-area img.qrcode-button{
  margin-top: 160px;
  width: 32px;
  height: 40px;
  cursor: pointer;
}
.down-msg{
  margin-top: 10px;
  margin-bottom: 0px;
}
#qrcodeCanvas{
  display: none;
}
.seat-area{
  position: absolute;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.6);
}
.seat-show-area{
  width: 200px;
  height: 90px;
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  left: 50%;
  top: 30%;
  margin-left: -100px;
}
.seat-user-name{
  color: #454545;
}
.seat-number-area{
  font-size: 1.2em;
  color: #313131;
}
.seat-number-area img{
  width: 24px;
  height: 24px;
  position: absolute;
  left: 30px;
  margin-top: -2px;
}
.blur{
  filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
  -webkit-filter: blur(3px); /* Chrome, Opera */
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}