.home-bg{
  position: absolute;
  width: 100%;
  height: 100%;
}
.bg-img{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -999;
}
.logo-area{
  padding-top: 12px;
  position: absolute;
}
.logo-area img{
  width: 100px;
  height: 26px;
}
.title-area{
  top: 100px;
  text-align: center;
  position: absolute;
  color: #3E3A39;
}
.title-area p{
  margin: 0px;
}
.letter-area{
  position: absolute;
  margin-top: 180px;
  color: #3E3A39;
}
.letter-area p{
  margin: 0px;
  font-size: 12px;
}
p.letter-pre{
  text-indent: 2em;
}
p.letter-next{
  text-indent: 2em;
}
p.name{
  font-size: 1.2em;
}
p.name-eg-pre{
  font-size: 1.1em;
}
p.name-eg-next{
  font-size: 0.8em;
}
p.invitation{
  margin-top: 10px;
  font-size: 2.8em;
}
.double-down{
  color: #fff;
  position: absolute;
  bottom: 40px;
}
.double-down img{
  width: 50px;
  height: 17px;
}
#page1{
  display: none;
}
.container{
  padding: 0px;
}
.row{
  padding: 0px;
  margin: 0px;
}
.button-area{
  position: absolute;
  margin-top: 340px;
}
.button-area a{
  color: #fff;
}
.button-area button{
  background-color: #009541;
  border: 0px;
  width: 160px;
  height: 34px;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
}
