<% breadcrumb :lottery_prizes %>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>中奖列表</h5>
      </div>
      <div class="ibox-content">
        <div>

          <div class="row">
            <div class="col-md-2">已中奖&nbsp&nbsp|&nbsp&nbsp未中奖</div>
            <div class="col-md-3 col-md-offset-4">
              <%= link_to '奖项列表', event_event_lottery_prizes_path(current_event), class: 'btn btn_default' %>
              <%= link_to '抽奖规则设置', event_lottery_prize_rule_path(current_event) %>
            </div>
            <div class="col-md-3">
              <input type="text"></input>
              <input type="button" id="search" value="搜索"></input>
            </div>
          </div>

          <div class="row">

          <table class="table table-hover">
            <tbody>
              <tr>
                <th class="col-xs-1">序号</th>
                <th class="col-xs-1">姓名</th>
                <th class="col-xs-1">省</th>
                <th class="col-xs-1">市</th>
                <th class="col-xs-2">公司</th>
                <th class="col-xs-2">手机号</th>
                <th class="col-xs-1">标签</th>
                <th class="col-xs-1">状态</th>
                <th class="col-xs-1">奖品</th>
              </tr>
              <tr>
                <td class="col-xs-1">1</td>
                <td class="col-xs-1">刘代杰</td>
                <td class="col-xs-1">上海</td>
                <td class="col-xs-1">上海</td>
                <td class="col-xs-2">公司名称</td>
                <td class="col-xs-2">138100010100</td>
                <td class="col-xs-1">经销商</td>
                <td class="col-xs-1">中奖</td>
                <td class="col-xs-1">奖品名称</td>
              </tr>
              <tr>
                <td class="col-xs-1">1</td>
                <td class="col-xs-1">刘代杰</td>
                <td class="col-xs-1">上海</td>
                <td class="col-xs-1">上海</td>
                <td class="col-xs-2">公司名称</td>
                <td class="col-xs-2">138100010100</td>
                <td class="col-xs-1">经销商</td>
                <td class="col-xs-1">中奖</td>
                <td class="col-xs-1">奖品名称</td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>