<% if params[:controller] != 'events' && params[:action] != 'dashboard' %>
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><%= yield :title%></h2>
    <%= breadcrumbs style: :ol, current_class: :current, class: :breadcrumb %>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<% end %>
