<!DOCTYPE html>
<html>
<head>
  <title>邀请函</title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <meta name="format-detection" content="telephone=no">
  <%= stylesheet_link_tag    'invitations', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'invitations', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
